[submodule "home/programs/file-manager/xplr/plugins/zentable.xplr"]
	path = home/programs/file-manager/xplr/plugins/zentable
	url = https://github.com/sayanarijit/zentable.xplr.git
[submodule "home/programs/file-manager/xplr/plugins/tree-view"]
	path = home/programs/file-manager/xplr/plugins/tree-view
	url = https://github.com/sayanarijit/tree-view.xplr.git
