/*
* Variant: Rosé Pine
* Maintainer: DankChoir
* Heisfer Notes: I'm too lazy to figure out.
*/

@define-color base            #191724;
@define-color surface         #1f1d2e;
@define-color overlay         #26233a;

@define-color muted           #6e6a86;
@define-color subtle          #908caa;
@define-color text            #e0def4;

@define-color love            #eb6f92;
@define-color gold            #f6c177;
@define-color rose            #ebbcba;
@define-color pine            #31748f;
@define-color foam            #9ccfd8;
@define-color iris            #c4a7e7;

@define-color highlightLow    #21202e;
@define-color highlightMed    #403d52;
@define-color highlightHigh   #524f67;

/*
* Author Heisfer Light
*/

* {
  border: none;
  border-radius: 0;
  font-family: "BlexMono Nerd Font Propo";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: @text;
}

/* Adding space to left and right side */
.modules-left {
  margin-top: 15px;
  margin-left: 20px;
}

.modules-center {
  margin-top: 15px;
}

.modules-right {
  margin-top: 15px;
  margin-right: 20px;
}

#clock,
#language,
#tray,
#battery {
  margin-right: 10px;
}

#custom-power_profile,
#language,
#window,
#mpris,
#clock,
#battery,
#pulseaudio,
#network,
#bluetooth,
#temperature,
#workspaces,
#tray,
#memory,
#backlight {
  background: @base;
  opacity: 0.9;
  padding: 0px 10px;
  border: 3px solid @surface;
}


#mpris {
  border-radius: 8px;
  margin-left: 0px;
  margin-right: 10px;
}

tooltip {
  background: @base;
  border-radius: 4px;
  border-width: 2px;
  border-style: solid;
  border-color: @overlay;
}

#workspaces button {
  padding: 5px;
  color: @highlightMed;
  margin-right: 5px;
}

#workspaces button.active {
  color: @text;
}

#workspaces button.focused {
  color: @subtle;
  background: @love;
  border-radius: 8px;
}

#workspaces button.urgent {
  color: @base;
  background: @pine;
  border-radius: 8px;
}

#workspaces button:hover {
  background: @highlightLow;
  color: @text;
  border-radius: 8px;
}



#backlight {
  color: @text;
  border-radius: 0px 8px 8px 0px;
}

#tray {
  border-radius: 8px;
  margin-left: 0px;
  margin-right: 10px;
}

#workspaces {
  background: @base;
  border-radius: 8px;
  padding-right: 0px;
  padding-left: 5px;
}

#language {
  background: @base;
  color: @gold;
  border-radius: 8px;
  /* margin-left: 10px; */
}

#custom-power_profile {
  color: @foam;
  border-left: 0px;
  border-right: 0px;
}

#window {
  border-radius: 8px;
  margin-left: 60px;
  margin-right: 60px;
}

window#waybar.empty {
  background-color: transparent;
}

window#waybar.empty #window {
  padding: 0px;
  margin: 0px;
  border: 0px;
  /*  background-color: rgba(66,66,66,0.5); */
  /* transparent */
  background-color: transparent;
}

#clock {
  color: @gold;
  border-radius: 8px;
}

#network {
  color: @love;
  border-radius: 8px 0px 0px 8px;
  border-right: 0px;
}

#pulseaudio {
  color: @iris;
  border-radius: 8px 0px 0px 8px;
  border-right: 0px;
}

#battery {
  color: @foam;
  border-radius: 0 8px 8px 0;
  margin-right: 10px;
  border-left: 0px;
}

